# Variables are being used as parameter on codeql call, so this files is commented
#
# More information on https://docs.github.com/en/enterprise-server@3.15/code-security/codeql-cli/getting-started-with-the-codeql-cli/preparing-your-code-for-codeql-analysis#creating-databases-for-compiled-languages
# Look for word "Bazel"
#
# build:codeql --spawn_strategy=local
# build:codeql --disk_cache= --remote_cache=
# build:codeql --noremote_accept_cached
# build:codeql --noremote_upload_local_results
